//------------------------------------*\
//  VARS.SCSS
//------------------------------------*/

// Colors
$SWATCH_OUTLINE     : #dedee2;
$LIGHTER_GRAY       : #f6f7f8;
$LIGHT_GRAY         : #8c9497;
$MEDIUM_GRAY        : #3d4041;
$DARK_GRAY          : #2a2b2c;
$ORANGE             : #f78e1e;
$MUTED_GREEN        : #6d7839;
$MUTED_GREEN_HOVER  : #58612f;
$DARK_TEXT          : #36393b;
$DISABLED_TEXT      : #a7aeb0;
$ERROR_COLOR        : #e72020;

$FACEBOOK_COLOR     : #2b4787;
$FACEBOOK_COLOR_SECOND : #3b5998;
$BUTTON_ASPOT_BG    : #393d26;


// Fonts
$HEADLINE_FONT_STACK_LIGHT      : 'FrutigerLight', Arial, sans-serif;
$HEADLINE_FONT_STACK_LIGHT_CN   : 'FrutigerLightCn', Arial, sans-serif;
$HEADLINE_FONT_STACK_ROMAN      : 'FrutigerRoman', Arial, sans-serif;
$HEADLINE_FONT_STACK_CN         : 'FrutigerCn', Arial, sans-serif;
$HEADLINE_FONT_STACK_BLD        : 'FrutigerBold', Arial, sans-serif;
$HEADLINE_FONT_STACK_BLD_CN     : 'FrutigerBoldCn', Arial, sans-serif;
$HEADLINE_FONT_STACK_BLK        : 'FrutigerBlack', Arial, sans-serif;
$HEADLINE_FONT_STACK_BLK_CN     : 'FrutigerBlackCn', Arial, sans-serif;
$HEADLINE_FONT_STACK_EXTRA_BLK_CN:'FrutigerExtraBlackCn', Arial, sans-serif;
$HEADLINE_FONT_STACK_BLD_CN_IE  : 'FrutigerBlackCnIE', 'FrutigerBoldCn', Arial, sans-serif;

$PRINT_FONT_DEFAULT: Arial, sans-serif;

// Font Weights
$font-weight-ultralight        : 100;
$font-weight-light             : 300;
$font-weight-normal            : 400;
$font-weight-semibold          : 700;
$font-weight-bold              : 900;



// Header dimensions
$page-header-small-height   : 36px;
$page-header-big-height     : 106px;

// Override theme settings (see ../template/settings.scss)
$backgroundColor: #fff;

$mainColor: #464547;
$headingColor: #464547;

$mainFontSize: 38px;
$mainFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingFont: 'Oswald', Helvetica, sans-serif;
$headingTextShadow: none;
$heading1TextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: #39c2d7;

$secondaryLinkColor: #7F993A;

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;