//------------------------------------*\
//  VARS.SCSS
//------------------------------------*/

// Colors
$DEFAULT            : #464547;
$LIGHT              : #fff;
$PRIMARY            : #39C2D7;
$PRIMARY_MUTED      : #1A9CB0;
$PRIMARY_CTRL       : #A3C644;
$PRIMARY_CTRL_MUTED : #7F993A;
$SECONDARY          : #B22746;
$SECONDARY_MUTED    : #8E244D;
$MEDIUM_GRAY        : #666;
$GRAY               : #999;
$LIGHT_GRAY         : #ccc;

$HEADLINE_FONT      : 'SourceSansPro', Helvetica, sans-serif;
$DEFAULT_FONT       : 'SourceSansPro', Helvetica, sans-serif;


$mainFontSize: 38px;
$mainFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingFont: 'Oswald', Helvetica, sans-serif;
$headingTextShadow: none;
$heading1TextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: #39c2d7;

$secondaryLinkColor: #7F993A;

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;