
@import "vars";
@import "normalize";
@import "typography";


::-webkit-scrollbar{
    width:5px;
    height:5px;
}
::-webkit-scrollbar-track,::-webkit-scrollbar-corner{
    background:rgba(0,0,0,0);
}
::-webkit-scrollbar-thumb{
    background:rgba(0,0,0,.2);
    border-radius:2px;
}
::-webkit-scrollbar-thumb:hover{
    background:rgba(0,0,0,.3);
}



body {
    padding: 0;
    margin: 0;
    background: #E8E8E8;
    color: $DEFAULT;
}
h1 {
    margin: 0;
}
h2 {
    margin: 0;
}
h3 {
    margin: 0;
}

.header {
    position: relative;
    height: 60px;
    background: $LIGHT;
    box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.30);
    margin: 0;
    padding: 0;
    z-index: 9990;

    &__logo {
        display: block;
        float: left;
        width: 90px;
        height: 32px;
        background: url(../img/logo.png);
        background-size: 90px 32px;
        margin: 20px;
        text-indent: -9999px;
    }

    &__title {
        display: block;
        float: left;
        padding: 20px;
        width: 150px;
        font-family: 'Oswald', sans-serif;
    }

    &__input {
        border: 2px solid #464547;
        margin: 15px 0;
        padding: 5px;
    }

    &__btn {
        background: $PRIMARY;
        color: $LIGHT;
        font-family: 'Oswald', sans-serif;
        font-weight: 600;
        padding: 5px 10px;
        border: 0;
        font-size: 16px;

    }
}

.nav {
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 0;
    width: 320px;
    margin: 0;
    overflow-y: scroll;
    padding: 0;
    background: $DEFAULT;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
    z-index: 9991;
    font-family: 'Oswald', sans-serif;

    &-folder {
        list-style: none;
        padding: 0;
        margin: 0;

        &__item {
            padding: 0;
            margin: 0;
        }

        &__title {
            position: relative;
            font-family: 'Oswald', sans-serif;
            font-size: 18px;
            color: $LIGHT;
            line-height: 25px;
            background: $PRIMARY;
            display: block;
            padding: 20px;
            cursor: pointer;

            &_active {
                background: $PRIMARY_CTRL;
                color: $LIGHT;
            }

            &:after {
                position: absolute;
                top: 50%;
                right: 20px;
                font-family: Arial, sans-serif;
                font-size: 24px;
                color: $LIGHT;
                line-height: 24px;
                margin-top: -12px;
                text-align: center;
                width: 20px;
                content: '+'
            }
        }
    }

    &-page {
        list-style: none;
        padding: 0;
        margin: 0;
        display: none;

        &__item {
            padding: 0;
            margin: 0;
            background: $PRIMARY_MUTED;

            &_active {
                background: $DEFAULT;
            }
        }



        &__link {
            font-family: 'Oswald', sans-serif;
            font-size :16px;
            color: $LIGHT;
            line-height: 21px;
            display: block;
            padding: 20px 20px 20px 30px;
            margin: 0;
            cursor: pointer;

            &-img {
                display: block;
                float: left;
                width: 21px;
                height: 21px;
                margin: 0 0 0 -30px;
                background-size: cover;
                background-position: 0 0;
            }

            &-text {
                display: block;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
    }

    &-folder__item_open & {
        &-folder__title:after {
            content: '-';
        }

        &-page {
            display: block;
        }
    }
}


.artboard {
    position: absolute;
    top: 60px;
    left: 320px;
    right: 0px;
    bottom: 0px;
    z-index: 0;
    overflow: hidden;
    cursor: -webkit-grab;

    &_dragging {
        cursor: -webkit-grabbing;
    }

    &__title {
        position: absolute;
        top:0;
        left:0;
        background: rgba(0,0,0,.3);
        color: $LIGHT;
        padding: 4px;
        z-index:999999;

        &_disabled {
            display: none;
        }
    }

    &__scale-value {
        position: absolute;
        bottom:0;
        left:0;
        background: rgba(0,0,0,.3);
        color: $LIGHT;
        padding: 4px;
    }


    &__scale {
        position: absolute;
        top: 0;
        left: 0;
    }
    &__draggable {
        position: absolute;
        top: 0;
        left: 0;
        margin: 20px;
        width:100%;
        height:100%;
    }

    &__layer {
        position: absolute;

        &:not(:first-child) {
            cursor: pointer;
        }

        &-list {
            position: absolute;
            margin: 0;
        }

        &:hover {
            //box-shadow: 0 0 0 1px $PRIMARY_CTRL;
        }
    }
}

.tools {
    position: absolute;
    top: 60px;
    bottom: 0;
    right: 0;
    width: 200px;
    background: $DEFAULT;
    color: $LIGHT;
    padding: 20px;
    overflow-y: auto;

    &__textarea {
        background: $MEDIUM_GRAY;
        color: $LIGHT;

        &_content {
            height: 100px;
        }

        &_style {
            height: 200px;
        }
    }

    &__download {
        display: block;
        width: 100%;
        background: $PRIMARY_CTRL;
        padding: 4px 10px;
        color: $LIGHT;
        text-decoration: none;

        &-image {
            display: block;
            height: 120px;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
}

.measure {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;

    &_disabled {
        display: none;
    }

    &-marker {
        position: absolute;
        top: 140px;
        left: 300px;
        z-index: 2;
        width: 200px;
        height: 200px;
        vertical-align: middle;
        pointer-events: none;

        &__value {
            position: absolute;
            top: 100%;
            left: -1px;
            display: block;
            padding: 0 4px;
            height: 16px;
            line-height: 16px;
            font-size: 12px;
            font-weight: 100;
            color: #fff;
            background: $PRIMARY_CTRL;
            white-space: nowrap;
        }
    }

    &-lighthouse {
        position: absolute;
        z-index: 1;
        opacity: 0.4;
        overflow: hidden;

        &_top {
            left: -3000px;
            right: -3000px;
            height: 0;
            border-top: 1px dashed #FE3B00;
            margin-top: -1px;
        }

        &_right {
            top: -3000px;
            bottom: -3000px;
            width: 0;
            border-left: 1px dashed #FE3B00;
        }

        &_bottom {
            left: -3000px;
            right: -3000px;
            height: 0;
            border-top: 1px dashed #FE3B00;
        }

        &_left {
            top: -3000px;
            bottom: -3000px;
            width: 0;
            border-left: 1px dashed #FE3B00;
            margin-left: -1px;
        }
    }

    &-marker {
        &_current {
            box-shadow: 0 0 0 1px $PRIMARY_CTRL;
        }

        &_target {
            box-shadow: 0 0 0 1px red;
        }

        &_target & {
            &__value {
                display: none;
            }
        }
    }

    &-marker_current ~ & {
        &-lighthouse {
            border-color: $PRIMARY_CTRL;
        }
    }
    &-marker_target ~ & {
        &-lighthouse {
            border-color: red;
        }
    }

    &-ruler {
        position: absolute;
        z-index: 1;
        //opacity: 0.8;
        text-align: center;
        vertical-align: middle;
        pointer-events: none;

        &_top {
            border-left:1px solid red;
        }

        &_right {
            border-top:1px solid red;
        }

        &_bottom {
            border-left:1px solid red;
        }

        &_left {
            border-top:1px solid red;
        }

        &__label {
            display: inline-block;
            line-height: 14px;
        }

        &__value {
            display: inline-block;
            padding: 0 3px;
            border-radius: 2px;
            height: 14px;
            font-size: 12px;
            font-weight: 100;
            color: #fff;
            background: red;
        }

        &_top &,
        &_bottom & {
            &__label {
                position: absolute;
                left: -20px;
                top: 50%;
                margin: -9px auto 0;
                width: 40px;
            }
        }

        &_left &,
        &_right & {
            &__label {
                position: relative;
                top: -11px;
            }
        }
    }
}
