.project {
  &-selection {
    background-image: -webkit-repeating-radial-gradient(center center, #333, #333 1px, transparent 1px, transparent 100%);
    background-image: -moz-repeating-radial-gradient(center center, #333, #333 1px, transparent 1px, transparent 100%);
    background-image: -ms-repeating-radial-gradient(center center, #333, #333 1px, transparent 1px, transparent 100%);
    background-image: repeating-radial-gradient(center center, #333, #333 1px, transparent 1px, transparent 100%);
    background-color: #464547;
    background-size: 8px 8px;
  }

  &-list {
    text-align: center;
    margin: auto;

    &__item {
      display: inline-block;
      padding: 0 50px;
    }

    &__link {
      display: inline-block;
      width: 200px;
      color: #00abbe;
      text-decoration: none;
      text-transform: uppercase;
      font: bold 18px $DEFAULT_FONT;
    }

    &__plate {
      width: 200px;
      height: 200px;
      margin-bottom: 20px;
    }
  }
}