@keyframes export-assets-bg {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 600px 0;
  }
}

@keyframes showCopyLayer  {
  0% {
    opacity: 1;
  }

  70% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}