/*  VARS.SCSS */

/* Colors */
$DEFAULT            : #464547;
$LIGHT              : #fff;
$PRIMARY            : #00abbe;
$PRIMARY_MUTED      : #1A9CB0;
$PRIMARY_CTRL       : #A3C644;
$PRIMARY_CTRL_MUTED : #7F993A;
$SECONDARY          : #B22746;
$SECONDARY_MUTED    : #8E244D;
$MEDIUM_GRAY        : #666;
$GRAY               : #999;
$LIGHT_GRAY         : #ccc;
$LIGHT_BLUE         : #2cc4d5;
$LIGHT_GREEN        : #91e77f;
$LIGHT_RED          : #fe6971;
$FILL_BLACK         : #353535;

$HEADLINE_FONT      : 'SourceSansProSemibold', Helvetica, sans-serif;
$DEFAULT_FONT       : 'SourceSansProRegular', Helvetica, sans-serif;
$ICONS_FONT         : 'icomoon';


$mainFontSize: 38px;
$mainFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingFont: 'Oswald', Helvetica, sans-serif;
$headingTextShadow: none;
$heading1TextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: #39c2d7;

$secondaryLinkColor: #7F993A;

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;