.nav {
    position: relative;
    flex: 0 1 350px;
    max-width: 350px;
    order: 0;
    background: $DEFAULT;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50);
    z-index: 9991;
    font-family: $HEADLINE_FONT;
    transition: flex .4s cubic-bezier(0.115, 0.715, 0.305, 0.990);

    &_disabled {
        flex-basis: 10px;
    }

    &__body {
        position: absolute;
        top: 0;
        right: 0;
        width: 350px;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    &-page {
        list-style: none;
        padding: 0;
        margin: 0;
        display: none;
    }
}

.nav-folder {
    overflow-y: scroll;
    list-style: none;
    padding: 0;
    margin: 0;
    flex: 1 1 auto;

    &__title {
        position: relative;
        font-family: $HEADLINE_FONT;
        font-weight: bold;
        font-size: 18px;
        color: $PRIMARY;
        line-height: 20px;
        background: $FILL_BLACK;
        display: block;
        padding: 20px;
        cursor: pointer;
        user-select: none;
        transition: all .3s;

        &:hover {
            background: lighten($FILL_BLACK, 2%);
            color: $LIGHT_BLUE;
        }

        &::after {
            content: '+';
            position: absolute;
            top: 50%;
            right: 20px;
            font-family: Arial, sans-serif;
            font-size: 30px;
            color: $ULTRA-LIGHT-GREY;
            line-height: 30px;
            margin-top: -15px;
            text-align: center;
            width: 20px;
        }
    }

    &_filter &__title {
        display: none;
    }


    &__item {
        padding: 0;
        margin: 0 0 2px;
        transition: all 700ms cubic-bezier(0.17, 0.04, 0.03, 0.94);

        &_hidden {
            display: none;
        }

        &_open {

            .nav-folder__title {
                color: $LIGHT;
            }

            .nav-folder__title::after {
                content: '-';
            }

            .nav-page {
                display: block;
            }

            .nav-page_tile {
                display: flex;
            }
        }

    }

    &_filter .nav-page {
        display: block;
    }

    &_filter .nav-page_tile {
        display: flex;
    }
}



.nav-page {
    .icon-selected-page-icon {
        &::after {
            content: "\e907";
            font-size: 32px;
            width: 32px;
            height: 32px;
            color: $LIGHT;
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            margin: auto;
            display: none;
        }
    }
}

.nav-page__link {
    font-family: $DEFAULT_FONT;
    font-size: 16px;
    font-weight: normal;
    color: $LIGHT;
    line-height: 20px;
    display: block;
    padding: 20px;
    margin: 0;
    cursor: pointer;

    &-img {
        display: block;
        width: 100%;
        height: 100px;
        background-size: cover;
        background-position: 0 0;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            border: 3px solid transparent;
            background-color: transparent;
            transition: background, border 0.3s ease-out;
        }
    }

    &-text {
        display: block;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        user-select: none;
    }
}

.nav-page__item {
    padding: 0;
    margin: 0;
    transition: all .2s;

    &:hover {
        background: $HOVER-GREY;
    }

    &_active:hover {
        background-color: $PRIMARY;
    }
}

.nav-page__item_active {
    background-color: $PRIMARY;

    .nav-page__link {
        cursor: default;
    }

    .icon-selected-page-icon {
        &::after {
            display: block;
        }
    }

    .nav-page__link-img::after {
        border-color: $LIGHT;
        background-color: rgba(0, 171, 190, 0.6);
    }
}

.nav-page_active {
    background: $PRIMARY;

    &:hover {
        background: $PRIMARY;
    }
}


.nav-page_tile {
    display: none;
    flex-flow: row wrap;

    .nav-page__item_active {
        background-color: inherit;
    }

    .nav-page__item {
        width: 50%;
    }

    .nav-page__item:hover {
        background-color: inherit;

        .nav-page__link-img::after {
            border-color: $LIGHT;
            background-color: rgba(0, 171, 190, 0.6);
        }
    }
}

/* NAV FOOTER */
.nav-footer {
    flex: 0 0 50px;
    padding: 12px 10px;
    background-color: $LIGHT;

    &__btn {
        display: inline-block;
        font-size: 26px;
        color: $ULTRA-LIGHT-GREY;
        cursor: pointer;
        border: 0;
        background-color: transparent;
        margin: 0 10px 0 0;

        &:focus,
        &:active {
            border: 0;
            outline: 0;
        }

        &:hover {
            color: $PRIMARY;
        }

        &_active {
            color: $PRIMARY;
            cursor: default;
        }
    }

    &__search {
        position: relative;
        float: right;

        &-input {
            width: 188px;
            height: 13px;
            padding: 6px 60px 5px 7px;
            background-color: $FORM-GREY;
            border: solid 1px $ULTRA-LIGHT-GREY;
            font-family: $DEFAULT_FONT;
            font-size: 13px;
            font-weight: normal;

            &:focus,
            &:active {
                border-color: $PRIMARY;
                outline: 0;
            }
        }

        &-btn {
            border: 0;
            background: none;
            position: absolute;
            top: 6px;
            right: 6px;
            font-size: 14px;
            color: $ULTRA-LIGHT-GREY;
            cursor: pointer;

            &:focus,
            &:active {
                outline: 0;
            }
        }

        .icon-cross {
            font-size: 14px;
            right: 5px;
            top: 7px;
            color: #c2c2c2;
        }
    }

}

.nav-toggle {
    position: absolute;
    left: 100%;
    bottom: 10px;
    margin-left: 10px;

    .icon-chevron-left::after {
        @extend .icon-chevron-right;
    }

    .disable {
        display: none;
    }

    &__btn {
        font-size: 20px;
        color: $LIGHT;
        height: 40px;
        width: 40px;
        line-height: 40px;
        background-color: $NAV_BTN;
        border: none;
        transition: background-color .2s;

        &::after {
            transition: transform .4s cubic-bezier(0.115, 0.715, 0.305, 0.990);
            display: block;
        }

        &:focus,
        &:active {
            outline: 0;
        }

        &:hover {
            background-color: lighten($NAV_BTN, 5%);
        }

        &_turned {
            &.icon-chevron-left::after {
                transform: none;
            }
        }
    }
}