.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 30px;
    width: 80px;
    margin: -15px 0 0 -40px;
    text-align: center;
    font-size: 10px;

    &__item {
        background-color: $primaryBgColor;
        height: 100%;
        width: 7px;
        margin: 0 3px 0 0;
        display: inline-block;

        animation: sk-stretchdelay 1.2s infinite ease-in-out;

        &_r2 {
            animation-delay: -1.1s;
        }

        &_r3 {
            animation-delay: -1.0s;
        }

        &_r4 {
            animation-delay: -0.9s;
        }

        &_r5 {
            animation-delay: -0.8s;
        }
    }
}

@keyframes sk-stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
    }  20% {
        transform: scaleY(1.0);
    }
}