* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}

::-webkit-scrollbar{
  width:5px;
  height:5px;
}
::-webkit-scrollbar-track,::-webkit-scrollbar-corner{
  background:rgba(0,0,0,0);
}
::-webkit-scrollbar-thumb{
  background:rgba(0,0,0,.2);
  border-radius:2px;
}
::-webkit-scrollbar-thumb:hover{
  background:rgba(0,0,0,.3);
}


::selection {
  background: $PRIMARY;
  color: $LIGHT;
}

::-moz-selection {
  background: $PRIMARY;
  color: $LIGHT;
}

body {
  padding: 0;
  margin: 0;
  background: #E8E8E8;
  color: $FILL_BLACK;
  overflow: hidden;
}
h1 {
  margin: 0;
}
h2 {
  margin: 0;
}
h3 {
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main {
  flex: 1 1 200px;
  display: flex;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.clearfix:after {
  display: block;
  clear: both;
  content: '';
}

.dropdown {
  background-color: $LIGHT;
  padding-top: 10px;
  text-align: center;
  box-sizing: border-box;
  position: relative;
  height: 40px;
  width: 85px;
  cursor: pointer;
  overflow: hidden;


  &__value {
    font: 18px $HEADLINE_FONT;
    color: $FILL_BLACK;
    text-transform: uppercase;
    width: 45px;
  }

  .icon-chevron-down {
    display: block;
    position: absolute;
    right: 0px;
    top: 0;
    width: 40px;
    height: 40px;
    background-color: $FILL_BLACK;
    &:before {
      content: "\e906";
      font-size: 10px;
      color: $LIGHT;
      z-index: 2;
      top: 10px;
      display: inline-block;
      margin-top: 16px;

    }
  }
  select {
    display: none;
  }

  &-options {
    opacity: 0;
    overflow: hidden;
    margin-top: 7px;
    width: 45px;
    transition: opacity .2s;
    &.top-opened {
      position: absolute;
      bottom: 40px;
    }
  }

  &__option {
    font: 18px $HEADLINE_FONT;
    color: $FILL_BLACK;
    background-color: $LIGHT;
    padding: 5px 0;

    &:hover, &--selected {
      background-color: $LIGHT_BLUE;
      color: $LIGHT;
    }
  }

  &--opened {
    overflow: visible;
    .icon-chevron-down {
      transform: rotateX(180deg);
    }

    .dropdown-options {
      opacity: 1;
    }
  }
}

.btn {
  background-color: $PRIMARY;
  color: $LIGHT;
  text-transform: uppercase;
  font: 600 20px $DEFAULT_FONT;
  padding: 12px;
  text-align: center;
  cursor: pointer;
  border: none;
  transition: background-color .3s;
  text-decoration: none;

  &_green {
    background-color: $PRIMARY_CTRL;
  }
}