* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}

::-webkit-scrollbar{
  width:5px;
  height:5px;
}
::-webkit-scrollbar-track,::-webkit-scrollbar-corner{
  background:rgba(0,0,0,0);
}
::-webkit-scrollbar-thumb{
  background:rgba(0,0,0,.2);
  border-radius:2px;
}
::-webkit-scrollbar-thumb:hover{
  background:rgba(0,0,0,.3);
}



body {
  padding: 0;
  margin: 0;
  background: #E8E8E8;
  color: $DEFAULT;
  overflow: hidden;
}
h1 {
  margin: 0;
}
h2 {
  margin: 0;
}
h3 {
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main {
  flex: 1 1 200px;
  display: flex;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.clearfix:after {
  display: block;
  clear: both;
  content: '';
}

.dropdown {
  background-color: $LIGHT;
  padding-top: 10px;
  text-align: center;
  box-sizing: border-box;
  position: relative;
  height: 40px;
  width: 45px;
  cursor: pointer;

  &__value {
    font: 18px $HEADLINE_FONT;
    color: $FILL_BLACK;
    text-transform: uppercase;
  }

  &:after, &:before {
    content:'';
    display: block;
    position: absolute;
  }
  &:after {
    right:-40px;
    top: 0;
    width: 40px;
    height: 40px;
    background-color: $FILL_BLACK;
  }

  &:before {
    right: -28px;
    top: 16px;
  }

  &.icon-chevron-down:before {
    content: "\e906";
    font-size: 10px;
    color: $LIGHT;
    z-index: 2;
  }

  select {
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 45px;
  }

  option {
    font: 18px $HEADLINE_FONT;
    color: $FILL_BLACK;
    background-color: $LIGHT;
  }
}