* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}

::-webkit-scrollbar{
  width:5px;
  height:5px;
}
::-webkit-scrollbar-track,::-webkit-scrollbar-corner{
  background:rgba(0,0,0,0);
}
::-webkit-scrollbar-thumb{
  background:rgba(0,0,0,.2);
  border-radius:2px;
}
::-webkit-scrollbar-thumb:hover{
  background:rgba(0,0,0,.3);
}



body {
  padding: 0;
  margin: 0;
  background: #E8E8E8;
  color: $DEFAULT;
  overflow: hidden;
}
h1 {
  margin: 0;
}
h2 {
  margin: 0;
}
h3 {
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main {
  flex: 1 1 200px;
  display: flex;
}

[class^="icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.clearfix:after {
  display: block;
  clear: both;
  content: '';
}