.tools {
  order: 2;
  background: $DEFAULT;
  color: $LIGHT;
  padding: 20px;
  overflow-y: auto;
  position: relative;
  width: 360px;
  right: 0;
  @include cross-browser-rule('transition', right 1s cubic-bezier(0.115, 0.715, 0.305, 0.990));


  &_disabled {
    @include cross-browser-rule('transition', right 1s cubic-bezier(0.115, 0.715, 0.305, 0.990));
    right: -340px;
  }

  &-container {
    padding-bottom: 20px;
  }

  &__list {
    margin: 0 0 15px;
    padding: 0;
    list-style: none;
  }

  &__item {
    padding: 0 0 5px;
    font-family: $DEFAULT_FONT;
    font-size:18px;
    line-height:45px;
    display: inline-block;
    vertical-align: middle;

    [class^="icon-"]:before {
      color: $LIGHT_BLUE;
      font-size: 12px;
      margin: 0 8px;
      vertical-align: middle;
    }

    &:nth-child(2n+1) {
      width: 105px;
      margin-right: 35px;
    }

    &:nth-child(2n) {
      width: 160px;
    }

    .icon-x-coord:before {
      content: "\e902";
    }

    .icon-y-coord:before {
      content: "\e903";
      font-size: 16px;
      margin-left: 14px;
    }

    .icon-width:before {
      content: "\e901";
    }

    .icon-height:before {
      content: "\e900";
      font-size: 19px;
    }

    &-label {
      color: $GRAY;
      display: inline-block;
      text-transform: uppercase;
      vertical-align: middle;
    }

    &-value {
      color: $LIGHT;
      float: right;

    }
  }

  &__title {
    color: $PRIMARY;
    font-family: $HEADLINE_FONT;
    font-size:22px;
    line-height:30px;
    margin: 0 0 10px;
    text-transform: uppercase;
  }

  &__textarea {
    display: block;
    background: $FILL_BLACK;
    color: $LIGHT;
    border: 0;
    padding: 7px 10px;
    margin: 0 0 20px;
    font-family: $DEFAULT_FONT;
    font-size:14px;
    line-height: 20px;
    width: 100%;

    &_style {
      height: 200px;
    }
  }

  &__textarea-classname {
    color: $LIGHT_BLUE;
  }

  &__textarea-content {
    background-color: $LIGHT;
    color: $FILL_BLACK;
    height: 140px;
    font: 16px/22px $DEFAULT_FONT;
  }

  &__textarea-value {
    color: $LIGHT_GREEN;
  }

  &__textarea-value_font-family {
    color: $LIGHT_RED;
  }

  &__download {
    display: block;
    width: 100%;
    background: $PRIMARY_CTRL;
    padding: 10px 10px 0;
    margin: 0 0 20px;
    color: $LIGHT;
    text-decoration: none;
    text-align: center;

    &-image {
      display: block;
      height: 100px;
      border: 10px solid $LIGHT;
      background-color: $LIGHT;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }

  }

  &__text {
    display: block;
    color: $GRAY;
    font-family: $HEADLINE_FONT;
    font-size:16px;
    line-height:20px;
    padding: 5px 0;
    text-transform: uppercase;
  }

  &__copy-info {
    float: right;
    background-color: $PRIMARY;
    color: $LIGHT;
    text-transform: uppercase;
    font: 20px $HEADLINE_FONT;
    padding: 7px 30px;
    cursor: pointer;
    @include cross-browser-rule('transition', background-color .3s);

    &:hover {
      background-color: $LIGHT_BLUE;
    }
  }

  &__gradient-opts {
    .icon-paint-color-2:before {
      content: "\e905";
      font-size: 28px;
      vertical-align: middle;
      margin-right: 18px;
    }
  }

  &__gradient-item {
    list-style-type: none;
    font: 18px $DEFAULT_FONT;
    color: $GRAY;

    .icon-gradient-down-arrow:before {
      content: "\e904";
      color: $LIGHT_BLUE;
      margin: 0 0 5px 7px;
      font-size: 11px;
      display: inline-block;

    }
  }

  &__gradient-color {
    display: inline-block;
    margin-top: 8px;
  }

  &__gradient-code {
    color: $LIGHT;
  }
}