.header {
    flex: 0 0 60px;
    display: flex;
    background: $LIGHT;
    box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.30);
    margin: 0;
    overflow: hidden;
    padding: 0;
    z-index: 9990;

    &__logo {
        flex: 0 0 90px;
        max-width: 90px;
        order: 1;
        height: 32px;
        background: url(../img/logo.png);
        background-size: 90px 32px;
        margin: 15px 20px 10px;
        text-indent: -9999px;
    }

    &__title {
        flex: 0 0 220px;
        max-width: 220px;
        order: 2;
        padding: 4px 0 0;
        font-size: 16px;
        text-transform: uppercase;
        line-height: 1;
        font-family: $HEADLINE_FONT;
        font-weight: 600;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        align-self: center;
        color: $PRIMARY;
    }

    &-info {
        flex: 1 1 auto;
        order: 3;
        padding: 4px 290px 0 0;
        text-align: center;
        align-self: center;
        position: relative;
        top: 0;
        transition: all 500ms ease;

        &__title {
            display: inline-block;
            font-size: 20px;
            font-family: $HEADLINE_FONT;
            font-weight: 600;
        }

        &__subtitle {
            font-size: 20px;
            font-family: $HEADLINE_FONT;
            font-weight: normal;
            color: $GRAY;
            padding: 0 5px;
        }
    }

    &__btn {
        background: $PRIMARY;
        color: $LIGHT;
        font-family: $HEADLINE_FONT;
        font-weight: 600;
        padding: 4px 12px 4px 10px;
        border: 0;
        font-size: 16px;
        float: left;
        display: block;
        height: 32px;
    }
}