.setting-panel {
    flex: 0 0 60px;
    max-width: 60px;
    order: 4;
    position: relative;

    &__options {
        position: absolute;
        display: flex;
        flex-direction: row-reverse;
        left: 60px;
        top: 0;
        overflow: hidden;
        transition: all 500ms ease;
        white-space: nowrap;
    }

    &_opened {
        .setting-panel__options {
            left: -640px;
        }

        .setting-control-btn {
            background-color: $PRIMARY_CTRL;

            &:after {
                content: "\e907";
            }
        }

        ~ .header-info {
            top: -45px;
        }
    }
}

.setting-control-btn {
    position: relative;
    z-index: 3;
    background-color: $PRIMARY;
    cursor: pointer;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 500ms ease;

    &:after {
        content: "\e90e";
        color: #fff;
        font-size: 30px;
    }
}

.setting-color,
.radio-color-switcher {
    display: flex;
    margin: 12px 0 0 40px;

    &__title {
        display: inline;
        margin: 0 10px 0 0;
        color: $PRIMARY;
        font-family: $HEADLINE_FONT;
        font-size:16px;
        line-height:20px;
        padding: 10px 0;
        text-transform: uppercase;
    }

    &__list {
        list-style: none;
        overflow: hidden;
        padding: 0;
        margin: 0;
        display: inline;
    }

    &__item {
        display: inline-block;
        padding: 8px;
        margin: 0;
    }

    &__button {
        display: block;
        padding: 0;
        border: 10px transparent solid;
        border-radius: 10px;
        border-width: 0 10px;
        height: 20px;
        transform: rotate(45deg);

        &_active {
            box-shadow: 0 0 0 2px #fff, 0 0 0 4px $PRIMARY;
        }

        &:active,
        &:focus {
            outline: 0;
        }
    }
}