.my-account {
    cursor: pointer;
    display: flex;
    align-items: center;
    order: 3;
    transition: all 500ms ease;
    margin-right: em(21px);
    position: relative;
    height: 100%;

    & .icon-triangle {
        color: $doveGray;
        font-size: em(7px);
        margin-left: em(6px, 7px);
    }

    &__username {
        font-size: em(14px);
        text-transform: capitalize;
    }

    &__icon {
        background: url(../img/user_icon.svg) no-repeat center center;
        height: 1.625rem;
        width: 1.625rem;
        margin-right: em(5px);

    }

    &__menu {
        display: none;
        position: absolute;
        background-color: $headerBgColor;
        min-width: 10rem;
        top: $headerHeight;
        left: 0;

        .my-account:hover & {
            display: block;
        }

        &-link {
            color: $primaryHeadingColor;
            display: block;
            font-size: em(14px);
            padding: em(11px, 14px) em(31px, 14px);
            text-transform: uppercase;

            & > .icon-logout {
                margin-right: em(10px);
            }
        }
    }
}
