.nav {
  flex: 0 0 350px;
  order: 0;
  overflow-y: scroll;
  background: $DEFAULT;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50);
  z-index: 9991;
  font-family: $HEADLINE_FONT;
  padding-bottom: 50px;

  &-page {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
  }
}

.nav-page {
  .icon-selected-page-icon {
    &::after {
      content: "\e907";
      font-size: 32px;
      width: 32px;
      height: 32px;
      color: $LIGHT;
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      display: none;
    }
  }
}

.nav-page__link {
  font-family: $DEFAULT_FONT;
  font-size: 18px;
  font-weight: normal;
  color: $LIGHT;
  line-height: 20px;
  display: block;
  padding: 20px;
  margin: 0;
  cursor: pointer;

  &-img {
    display: block;
    width: 100%;
    height: 100px;
    background-size: cover;
    background-position: 0 0;
    position: relative;
  }

  &-img::after {
    content: " ";
    position: absolute;
    opacity: 0;
    width: 100%;
    height:100%;
    border: 1px solid $LIGHT;
    background-color: $DARK;
    transition: opacity 0.3s ease-out;

  }

  &-text {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    user-select: none;
  }
}

.nav-page__item {
  padding: 0;
  margin: 0;
  transition: all .2s;

  &:hover {
    background: $HOVER-GREY;
  }

  &_active:hover {
    background-color: $PRIMARY;
  }
}

.nav-page__item_active {
  background-color: $PRIMARY;

  .nav-page__link {
    cursor: default;
  }

  .icon-selected-page-icon {
    &::after {
      display: block;
    }
  }

  .nav-page__link-img::after {
    background-color: $PRIMARY;
    opacity: 0.7;
  }
}

.nav-page_active {
  background: $PRIMARY;

  &:hover {
    background: $PRIMARY;
  }
}

.nav-folder {
  list-style: none;
  padding: 0;
  margin: 0;

  &__item {
    padding: 0;
    margin: 0 0 2px;
    transition: all 700ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
    max-height: 200px;

    &_hidden {
      display: none;
    }
  }

  &__title {
    position: relative;
    font-family: $HEADLINE_FONT;
    font-weight: bold;
    font-size: 18px;
    color: $PRIMARY;
    line-height: 20px;
    background: $FILL_BLACK;
    display: block;
    padding: 20px;
    cursor: pointer;
    user-select: none;
    transition: all .3s;

    &:hover {
      background: lighten($FILL_BLACK, 2%);
      color: $LIGHT_BLUE;
    }
  }

  &__title::after {
    position: absolute;
    top: 50%;
    right: 20px;
    font-family: Arial, sans-serif;
    font-size: 24px;
    color: $ULTRA-LIGHT-GREY;
    line-height: 24px;
    margin-top: -12px;
    text-align: center;
    width: 20px;
    content: '+'
  }
}

.nav-folder__item_open {
  max-height: 3000px;

  .nav-folder__title {
    color: $LIGHT;
  }

  .nav-folder__title::after {
    content: '-';
  }

  .nav-page {
    display: block;
  }

  .nav-page_tile {
    display: flex;
  }

}

.nav-page_tile {
  display: none;
  flex-flow: row wrap;

  .nav-page__item_active {
    background-color: inherit;
  }

  .nav-page__item {
    width: 50%;
  }

  .nav-page__item:hover {
    background-color: inherit;

    .nav-page__link-img::after {
      opacity: 0.7;
    }
  }
}

.left-nav-footer {
  position: fixed;
  height: 50px;
  padding: 12px 10px;
  width: 350px;
  overflow: hidden;
  bottom: 0;
  left: 0;
  background-color: $LIGHT;

  .icon-list-view::after {
    content: "\e90f";
  }

  .icon-title-view::after {
    content: "\e909";
  }

  &__btn {
    display: inline-block;
    font-size: 26px;
    color: $ULTRA-LIGHT-GREY;
    cursor: pointer;
    border: 0;
    background-color: transparent;

    &:focus, &:active {
      border: 0;
      outline: 0;
    }
  }

  &__btn.active {
    color: $PRIMARY;
    cursor: default;
  }

  &__btn:hover {
    color: $PRIMARY;
  }

  &__btn_tile {
    margin: 0 10px;
  }

  &__search {
    width: 224px;
    height: 14px;
    padding: 5px 25px 5px 5px;
    background-color: $FORM-GREY;
    border: solid 1px $ULTRA-LIGHT-GREY;
  }

  &__wrap {
    position: relative;
    float: right;
  }
}

.left-nav-toggle {
  position: fixed;
  left: 30px;
  bottom: 20px;

  .icon-chevron-left::after {
    content: '\e908';
  }

  .disable {
    display: none;
  }
}

.left-nav-toggle__btn {
  font-size: 20px;
  color: $LIGHT;
  height: 40px;
  width: 40px;
  line-height: 40px;
  background-color: $NAV_BTN;
  border: none;
  transition: background-color .2s;

  &::after {
    transition: all .5s;
    display: block;
  }

  &:focus {
    outline: none;
  }

  &:hover {
    background-color: lighten($NAV_BTN, 5%);
  }

  &.turned {
    &::after {
      transform: rotate(180deg);
    }
  }
}

.btn-search {
  border: 0;
  background: none;
  position: absolute;
  top: 6px;
  right: 6px;
  font-size: 14px;
  color: $ULTRA-LIGHT-GREY;
  cursor: pointer;

  &::after {
    content: "\e90a";
  }

  &_reset {
    color: red;

    &::after {
      content: "\e90a";
    }
  }
}