.artboard {
    position: relative;
    flex: 1 1 100px;
    order: 1;
    z-index: 0;
    overflow: hidden;
    cursor: -webkit-grab;
    padding: 20px;

    &_dragging {
        cursor: -webkit-grabbing;
    }

    &_animated &__scale ,
    &_animated &__draggable {
        transition: all 0.5s;
    }

    &__scale {
        position: absolute;
        top: 50%;
        left: 50%;
    }

    &__draggable {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 0;
        height: 0;
    }

    &_dragging &__draggable {
        transition: none;
    }

    &__layer {
        position: absolute;

        &:not(:first-child) {
            cursor: pointer;
        }

        &-list {
            position: absolute;
            margin: 0;
            background-size: 100%;
            transform: translate(-50%, -50%);
        }

        &:hover {
          /*box-shadow: 0 0 0 1px $PRIMARY_CTRL;*/
        }
    }
}