.auth {
  align-items: center;
  justify-content: center;
  background: url('../img/auth-background.jpg') center center;
  color: $LIGHT;
  font-family: $mainFont;

  &__raccoon-logo {
    margin-bottom: 20px;
  }

  &__header {
    margin-bottom: 50px;
    text-align: center;
  }

  &__title {
    font-size: 1.375em;
    font-weight: bold;
    margin:10px 0 60px;
  }

  &-form {
    max-width: 320px;

    &__label {
      display: block;
      font-size: 1.25em;
      font-weight: bold;
      margin-bottom: 5px;
    }

    &__input {
      height: 50px;
      margin-bottom: 20px;
      width: 100%;
    }

    &__btn {
      width: 150px;
    }

    &__btn_right {
      float: right;
    }
  }


}
